<div class="header">Angular list of previous tasks</div>
<div class="container">
  <div class="card">
    <img src="../../assets/images/1.png" alt="">
    <p class="title">Angular list of prohibited words</p>
    <a [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active" class="moreBtn">Details</a>
  </div>
  <div class="card">
    <img src="../../assets/images/2.png" alt="">
    <p class="title">Angular task list</p>
    <a [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active" class="moreBtn">Details</a>
  </div>
  <div class="card">
    <img src="../../assets/images/3.png" alt="">
    <p class="title">Angular users list</p>
    <a [routerLink]="[ '/works/userlist' ]" routerLinkActive="active" class="moreBtn">Details</a>
  </div>
</div>
