.header {
  width: 100wh;
  height: 10vh;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.menu {
  width: 100wh;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
//   padding: 10px 50px;
  a{
    text-decoration: none;
    margin: 15px;
  }
}

